* {
    margin: 0;
    padding: 0;
}

html {
    display: grid;
}

body {
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

.my-name {
    font-size: 6em;
    text-align: center;
    letter-spacing: 0.5em;
    
    margin-top: 3%;
    margin-bottom: 1em;
}

.navbar {
    width: 100%;
    border-top: 0.1em solid black;
    border-bottom: 0.1em solid black;
    font-size: 2.8em;
}

.navbar ul {
    letter-spacing: 0.1em;

    padding-top: 0.2em;
    padding-bottom: 0.2em;

    text-align: center;
}
.navbar li{
    display: inline-block;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

@media (max-width: 400px) {
    .navbar li {
        display: block;
    }
}

.navbar li:hover {
    background-color: rgba(100, 100, 100, 0.308);
}

.cards {
    margin: 0.8em;
}

.cards div {
    padding: 1%;
    background-color: white;
    font-size: 2em;
    margin-bottom: 0.5em;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.cards h2 {
    font-size: 2em;
    text-decoration: underline;

    padding-left: 0.3em;
    margin-bottom: 0.5em;
}

.skills ul {
    padding-left: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.skills li {
    margin-bottom: 1em;
}